@charset "utf-8";
/* CSS Document */
#table-insert{
	width: 70%;
	margin: 45px;
	margin-top: 5px;
	
}

#table-insert td{
	border-style: none;
	border-width: 0px;
	
}

#img-anhdaidien-film{
	height: 355px;
	width:240px;
	margin: 10px;
}
#div-name-film{
	height: auto;
}
#img-film{
	width: 100%!important;
}
.name{
	width: 100%!important;
	font-size: 20px;
}
.label-namefilm{
	width: auto;
}
.img-phim-thuvien1{
	height: auto!important;
	width: auto;
	float: left;
	margin: 10px;
}
.img-phim-thuvien1-video{
	height: auto!important;
	width: auto;
	float: left;
	margin: 5px;
	
	padding: 0px!important;
}
iframe{
	margin: 5px;
}
#element-dienvien{
 border:1px #CED4DA solid;
	border-radius: 2px;
	height: 40px;
	overflow-y: scroll;
	
}
.item-icon{
	position: absolute;
	right: 30px;
}

#element-dienvien:hover{
	cursor: pointer;
}
.li-item-insertphim{
	padding: 10px;
	margin: 0px;
}
.li-item-insertphim:hover{
	background-color: #FFA300;
	cursor: pointer;
	color: white;
}
#ul-insertphim{
	overflow-y: scroll;
	padding: 0px;
	clear: both;
	height: 200px!important;
}
#search-dienvien{
	border:1px #CED4DA solid;
	height: auto;
	display: none;
}

#search-dienvien1{
	width: 90%;
	height: 30px;
	float: left;
}

#timkiem{
	width: 100%;
	
	height: auto;
	border: 1px solid;
}
#icon-dienvien{
	
	height: 30px;
	width:10%;
	text-align: center;
	background-color: #FFA300;
	color: white;
	float: left;
	
	
}
.item-theloai:hover{
	background-color: #FFA300;
	cursor: pointer;
	color: white;
	
}
.item-theloai{
padding: 10px;
	margin: 0px;
}
#theloaiphim{
	padding: 0px;
	border:1px #CED4DA solid;
	border-radius: 2px;
	overflow-y: scroll;
	display: none;
	height: 200px;
}
#icon-search2{
	position: absolute;
	right: 30px;
}
#element-theloai{
	height: 40px;
	border:1px #CED4DA solid;
	border-radius: 2px;
	
	overflow-y: scroll;
}
.item-tag1{
	height: auto;
	width: auto;
	border: 1px solid;
	background-color: #FFA300;
	color: white;
	
	float: left;
	margin: 2px;
	padding: 2px;
	border-radius: 5px;
	z-index: 100;
}
.item-tag1:hover{
	cursor: pointer;
}
#img-insert-upload-phim{
	display: none;
}
#insert-video-uploaded{
	display: none;
}



