@charset "utf-8";
/* CSS Document */
#selected-ngay{
	height: auto;
	border: 0.5px solid;
	margin-left: 0px;
	border-radius: 2px;
	padding: 5px;
	z-index: 0;
	
}

#select-ngay{
	display: none;
}
.item-tag{
	height: auto;
	width: auto;
	border: 1px solid;
	background-color: #FFA300;
	color: white;
	
	float: left;
	margin: 2px;
	padding: 2px;
	border-radius: 5px;
	z-index: 100;
}

.item-tag:hover{
	cursor: pointer;
}
@media(max-width:768px){
	#selected-ngay svg{
		font-size: 30px!important;
	}
}

