@charset "utf-8";
/* CSS Document */
#table-phimdangchieu{
	
}
#table-phimdangchieu tbody tr:hover{
	background-color: #FFA300;
	color: white;
	cursor: pointer;
}
#table-phimsapchieu tbody tr:hover{
	background-color: #FFA300;
	color: white;
	cursor: pointer;
}
.detail-phim{
	 position:fixed;
    top: 50%;
    left: 50%;
    width:700px;
    height:auto;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
	padding: 0px!important;
	display: none;
	z-index: 106;
   
}
.footer-detail{
	height: 50px;
	border: 1px solid #ccc;
	margin: 0px!important;
	margin-top: 10px!important;
	border-left:0px;
	border-right: 0px;
}
#ul-detail-phimdangchieu{
	padding: 0px;
}
.header-detail{
	border:1px solid #ccc;
	border-left:0px;
	border-right: 0px;
	margin-bottom: 10px;
}
.item-right{
	float: right;
	margin: 5px;
}
.item-right:hover{
	cursor: pointer;
}
