@charset "utf-8";
/* CSS Document */
.delete:hover{
	cursor: pointer;
}
#table-rapchieuphim1 tbody tr:hover{
	background-color: #222D32;
	color: white!important;
	cursor: pointer;
}
#table-rapchieuphim1 thead{
	background-color: #222D32;
	color: white;
}
.icon-item{
	z-index: 10;
}


