@charset "utf-8";
/* CSS Document */
#header-horizontal{
	height: auto;
	border-bottom-style: inset;
	border-width: 1px;
	padding: 5px;
	
	
}
#header-horizontal a{
	height: 100%!important;
	width: 100%!important;
	background-color: white;
	
}
#anchor-admin{
	
	height: 100%!important;
	
}

#img-header-horizontal{
	
	border-style: solid;
	border-width: 1px;
	margin-left: 30%;
	
	
}

#h3-header{
	color: white;
	text-align: center;
	
	
	
}

#element-horizontal{
	clear: both;
	margin-top: 10px;
	
	border-width: 1px;
	height: 700px;
}
.component-menu-horizontal{
	color: white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 20px;
	
	
	padding: 41px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.component-menu-horizontal:hover{
	cursor: pointer;
}

.active{
	background-color: #1E282C;
}
.size-component-icon{
	font-size: 24px;
	margin-right: 15px;
	vertical-align: text-top;
	
}
.slide{
	margin: 0px!important;
	color: white;
    font-size: 18px;
	display: none;
	height: auto;
}
.slide ul{
	list-style-type: none;
	background:#2C3B41;
}
.slide li{
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.slide ul li:hover{
	color: #AEAFAE;
	cursor: pointer;
}

