@charset "utf-8";
/* CSS Document 
#img-event{
	height: 100%;
	width: 150px;
}
#element-event{
	clear: both;
	border-style: solid;
	height: 300px;
	
	width: 100%;
    padding:0px;
}
#slider{
	overflow: hidden;
	padding: 0px;
	z-index: 0;
}
#slider .control-prev{
	font-size: 50px;
	position: absolute;left: 0;
	top: 100px;
	z-index: 100;
}
#slider .control-prev:hover{
	cursor: pointer;
	z-index: 100;
}
#slider .control-next{
	font-size: 50px;
    position: absolute;right: 0;
	top:100px;
	z-index: 100;
}
#slider .control-next:hover{
	cursor: pointer;
	z-index: 100;
}
#slider ul li{
	z-index: 0;
	
	padding: 0px!important;
	height: 100%;
	text-decoration: none;
	list-style: none;
	 margin: 5px!important;
	
  display: block;
   float: left;
 
  
}
#slider ul{
	height: 100%;
	padding-left:50px;
	
}
#slider ul li #div-img-event{
	height: 200px;
	
	margin: 50px;
	
	margin-right: 80px;
	padding: 0px;
	
	
	
}
*/
#event{
	height: 100%;
}
#element-event{
	
	border-style: solid;
	height: 300px;
	overflow: hidden;
	
 	width: 100%;
    padding:0px!important;
	
	
	 
}

#slider-carousel{
	height: 100%;
	
	padding: 0px;
	
	
}
  .control-prev{
	/*font-size: 50px;
	position: absolute;left: 0;
	top: 100px;
	z-index: 100;*/
	  font-size: 50px;
	position: absolute;left: 20px;
	top: 35%;
	z-index: 100;
}
 .control-prev:hover{
	/*cursor: pointer;
	z-index: 100;*/
	 cursor: pointer;
	z-index: 100;
	 
}
 .control-next{
	/*font-size: 50px;
    position: absolute;right: 0;
	top:100px;
	z-index: 100;*/
	font-size: 50px;
    position: absolute;right: 20px;
	top:35%;
	z-index: 100;
}
 .control-next:hover{
   cursor: pointer;
	z-index: 100;
}
#element-carousel{
	
	border-style: solid;
	border-width: 1px;
	
	display:inline-block;
	width: 3000px!important;
	padding: 0px;
    height: 100%;
	
	
	
}
#img-event{
	height: 100%;
    width: 100%;
}
#div-img-event {
	height: 100%;
	padding: 0px!important;
	margin:0px;
	border-width: 1px;
	border-style: solid;
	
	width: 100%;
}
#div-img-event .col-sm-2{
	padding: 0px!important;
	
}

.item{
	
	
	
	padding: 0px!important;
	height: 100%;
	text-decoration: none;
	list-style: none;
  margin: 0;
	width: 350px;
	float: left;
	margin-right: 10px;
	
	
  
	
}

#div-img-event img{
	height: 100%;
	width: 100%;
}
#event{
	
}


