@charset "utf-8";
/* CSS Document */
.list-filter{
	
	height: auto;
	border: 1px dotted orange;
	
	
}
.list-filter:hover{
	cursor: pointer;
	background-color: #FFA300;
	color: white;
}
#myList{
	background-color: white;
	height: 300px;
	overflow-y: scroll;
	padding: 0px!important;
	
	clear: both;
	position: static;
	z-index: 200;
	
}

#img-search{
	height: 70px;
	width: 10%;
	padding: 10px;
	padding-left: 5px;
}

#detail{
	width: 90%;
	padding:25px; 
	padding-top: 25px;
	
	
}

