@charset "utf-8";
/* CSS Document */
#title{
	
	height: 100%;

  
}
#search{
	height: 100%;
	padding: 30px;
    
}
#timkiem{
	
	
	
	height: 100%;
	text-align: center;
	padding: 40px;
	width: auto;
}
#search input{
	font-size: 20px;
	width: 80%;
}
#icon{
	font-size: 20px;
}
#search button{
    width: auto;
	height: 40px;
	
}
#login{
	height: 100%;
	
   border-width: 1px;
	
	
}
#element-header{

	height: 100%;
}

#button-login{
	width: auto;
	margin: 35px;
	margin-bottom: 0px;
	background-color:#FFA300;
	color: white;
	border-radius: 5px;
	
}
#button-login:hover{
	background-color: #EE9902;
	cursor: pointer;
}
.anchor-background{
	color: white;
}
.anchor-background:hover{
	text-decoration: none;
	color: white;
}
.img-header{
 cursor: pointer;
}
#filter{
	height: auto;
	clear: both;
	display: none;
	
	z-index: 20;
	
	
}
#form-infomation-user{
	
	margin-left: 35px;
	padding: 0px;
	background-color: white;
  display: none;
	border-radius: 5px;
	box-shadow:6px 8px 21px -1px #AEAFAE ;
	
}
#form-infomation-user ul{
	list-style-type: none;
	list-style-position: outside;
	padding: 0px;
	width: 100%;
	 
}
#money-user{
	text-align: center;
}
.button-user{
	width: 200px;
	margin: 10px;
	padding: 5px;
	background-color: #FFA300;
	border-style: solid;
	border-collapse: collapse;
	border-radius: 5px;
}
@media (max-width:768px){
	#timkiem{
		display: none;
	}
	#login{
		display: none;
	}
	#title{
		border:1px solid;
		width: 100%;
		margin: 0px!important;
	}
	#title a{
		color: black!important;
		border-color: black;
		border-width: 0px;
	}
	#title img{
		width: 100%;
	}
	#timkiem{
		padding: 0px!important;
		padding-top: 15px!important;
		
		
	}
	.col-sm-12,.col-xs-12{
		padding: 0px!important;
	}
	
	#timkiem input{
		width: 300px;
		margin: 0px!important;
		text-align: left;
		
	}
	#search{
		padding: 0px!important;
		
	}
	header{
		padding: 0px!important;
	}
	#img-web{
		padding: 0px!important;
	}
	#thanhvien button{
		height: auto;
		width: 100%;
		border:1px solid;
		margin: 0px;
		
	}
	#login{
	margin-bottom: 20px!important;
		margin-top: 20px!important;
	}
	#login{
		padding: 0px!important;
	}
	#element-login{
		padding: 0px!important;
	}
}
/*search*/
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 75%!important;
  background: #f1f1f1;
}

form.example button {
  float: left;
	height: 52px!important;
  width: 25%!important;
  padding: 10px;
  background: #FFA300;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}


form.example button:hover {
  background: #FFA302;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
