@charset "utf-8";
/* CSS Document */
#login-official{
	margin: 20px;
}
#register-official{
	margin: 20px;
}
.error{
	color: red;
}

@media (max-width:768px){
	#login-official input{
		width: 325px;
	}
	#register-official input{
		width: 325px;
	}
}