@charset "utf-8";
/* CSS Document */
#h2-default{
	color: #FFA300;
}
#default{
	background-color: white;
	height: 100%;
}
body{
	background-color: #F5F5F5;
}
#element-gioithieu{
	
	background-color: white;
	height: auto;
	padding: 10px;
}

