#header{
	height: auto;
	
	border-bottom: 1px solid;
    margin: 0px!important;
    padding-left: 45px;
	background-color: #FDFCF0;
}

#body{
	background-color: white;
	padding: 0px!important;
	height: auto;
}
header{
	padding: 0px!important;
}
#main{
	padding: 20px;
	height: auto;
	
}
main{
	height: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}
.h2-color{
	color: #FFA300;
}
.footer{
	padding: 0px!important;
	margin: 0px!important;
}