@charset "utf-8";
/* CSS Document */
#login-thanhtoan{
	 position:fixed;
    top: 50%;
    left: 50%;
    width:40em;
    height:auto;
    margin-top: -19em; /*set to a negative number 1/2 of your height*/
    margin-left: -20em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
	z-index: 150;
	display: none;
	
}
#night2{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: none;
	background-color: black;
	z-index: 149;
	opacity: 0.6;
}
.login-thanhtoan-close{
	position: absolute;
	right: 0px;
	font-size: 18px;
}
.login-thanhtoan-close:hover{
	cursor: pointer;
}
#loginofficial-thanhtoan{
	
}
